body {
    height: 100vh;
    overflow: hidden; /* Prevents any scrolling */
    font-family: "Merriweather", serif;
}

section {
    height: 100vh; /* Ensures section matches viewport */
    background-image: url('../images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: brown; */
}

section div h1 {
    font-size: 62px;
    color: var(--white);
}

section div p {
    font-size: 16px;
    color: var(--yellow);
    margin-bottom: 50px;
}

section div a {
    font-size: 16px;
    padding: 20px 30px;
    border-radius: 100px;
    color: var(--gray);
    border: 1px solid var(--white);
    background-color: rgba(0, 0, 0, 0.1);
}

section div a:hover {
    color: var(--gray);
    background-color: var(--white);
}
